body {
    font-family: 'Raleway', sans-serif;
    background: lightseagreen;
}

.navbar {
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;

    .navbar-brand h3 { 
        font-weight: 100 ;
    }
    .nav-item { 
        font-size: 1.4rem; 
    }
    .nav-link:hover {
        transition: border 0.2s;
        border-bottom: 1px solid white;
    }

    @media (max-width: 768px) {
        & {
            background: #1f1f1f;
            .nav-link:hover {
                border-bottom: none;
            }
        }
    }
}

#showcase {
    background-image: url("../images/h-img.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
    position: relative;

    #header {
        z-index: 2;
    }

    #overlay {
        background: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    h1 {
        font-family: 'Questrial', sans-serif;
        line-height: 1;
    }
    #book {
        font-size: 1.5rem;
    }

    @media (max-width: 768px) {
        & {
            min-height: 500px;
            h1 {
                font-size: 4rem;
            }
        }
    }
}